body {
	background: gray;
	text-align: center;
}

img{
	height: 400px;
	width: 400px;
	text-align: center;
}

p h1{
	text-align: center;
	text-align: center;
	
}
ul li h1{
    font-weight: bold;
	font-style: inherit;
	font-size: 20px; 
}